black==24.4.2
flake8==7.0.0
isort==5.13.2
mypy==1.10.0
mysqlclient==2.2.4
psycopg2-binary==2.9.9
pylint-django==2.5.5
pytest-benchmark==4.0.0
pytest-django==4.8.0
pytest==8.2.2
tox==4.15.0
twine==5.1.0
