black==24.8.0
flake8==7.1.1
isort==5.13.2
mypy==1.13.0
mysqlclient==2.2.6
psycopg2-binary==2.9.10
pylint-django==2.5.5
pytest-benchmark==4.0.0
pytest-django==4.9.0
pytest==8.3.4
tox==4.23.2
twine==6.0.1
