black==24.8.0
flake8==7.1.1
isort==5.13.2
mypy==1.12.1
mysqlclient==2.2.5
psycopg2-binary==2.9.10
pylint-django==2.5.5
pytest-benchmark==4.0.0
pytest-django==4.9.0
pytest==8.3.3
tox==4.23.0
twine==5.1.1
